<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap = "../../../craft/app/tests/bootstrap.php"
    colors = "true"
    convertErrorsToExceptions = "true"
    convertNoticesToExceptions = "false"
    convertWarningsToExceptions = "false"
    processIsolation="false"
    stopOnFailure = "false"
    stopOnError="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    syntaxCheck="true"
    verbose="true"
    strict="false">
</phpunit>
