<h3>Info submitted will allow ShipStation to begin communicating with Craft.</h3>

<div class="field">
    <div class="heading">
        <label for="oneshipstation_username">Username</label>
        <div class="instructions">
            <p>This username associated with your custom store, not your Craft nor ShipStation usernames.</p>
        </div>
    </div>
    <div class="input">
        <input class="text fullwidth" type="text" id="oneshipstation_username" name="oneshipstation_username" value="{{ settings.oneshipstation_username }}" />
    </div>
</div>

<div class="field">
    <div class="heading">
        <label for="oneshipstation_password">Password</label>
        <div class="instructions">
            <p>This password associated with your custom store, not your Craft nor ShipStation passwords.</p>
        </div>
    </div>
    <div class="input">
        <input class="text fullwidth" type="password" id="oneshipstation_password" name="oneshipstation_password" value="{{ settings.oneshipstation_password }}" />
    </div>
</div>

<div class="field">
    <div class="heading">
        <label for="orders_page_size">Page Size for Orders</label>
        <div class="instructions">
            <p>The number of orders returned for each request from ShipStation. Too many orders at once will take too long to respond, while too few will require many requests. (Default 25)</p>
        </div>
    </div>
    <div class="input">
        <input class="text fullwidth" id="orders_page_size" name="orders_page_size" value="{{ settings.orders_page_size }}" />
    </div>
</div>

<div class="field">
    <div class="heading">
        <label for="order_id_prefix">Order ID Prefix</label>
        <div class="instructions">
            <p>Order IDs sent to ShipStation will be integers (eg <code>1234</code>). Optionally add a prefix to the ID to guarantee unique IDs (eg a prefix of <code>commerce_</code> would yield an Order ID of <code>commerce_1234</code>).</p>
        </div>
    </div>
    <div class="input">
        <input class="text fullwidth" type="text" id="order_id_prefix" name="order_id_prefix" value="{{ settings.order_id_prefix }}" />
    </div>
</div>

<hr />

<div class="field">
    <div class="heading">
        <p>URL to custom XML Page should be:</p>
        <pre><code>{{ siteUrl }}actions/oneShipStation/orders/process</code></pre>
    </div>
</div>
